
/*#sprite-1, #sprite-2, #sprite-3, #sprite-4, #sprite-5 {
width:100vw;
height:100vh;
overflow:hidden;
position:relative;
background:wheat;
}*/

.sprite{
width:100%;
height:100%;
overflow:hidden;
position:relative;
background:black;
}

body{
	background:black;
}

.sprite video{
width:100vw;
height:500vh;
}

.sprite-1 {
margin-top:0vh;

}

.sprite-2 {
margin-top:-100vh;

}

.sprite-3 {
margin-top:-200vh;

}

.sprite-4 {
margin-top:-300vh;

}

.sprite-5 {
margin-top:-400vh;

}



